body{
    margin: 0;
    padding: 0;
    background-color: rgba(2, 2, 2, 0.837);
}

#container{
    position: absolute;
    height: 450px;
    width: 700px;
    top: 50%;
    left: 50%;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
}

#meuVideo{
    border-radius: 4px;
    height: 100%;
    outline: none;
    transition-property: filter;
    transition-duration: 0.90s;
    box-shadow: 15px 10px 9px black;
}

.botoes{
    /* margin-left: 100px; */
    bottom: 20px;
    position: absolute;
} 

button{
    cursor: pointer;
    font-size: 17px;
    font-family: monospace;
    width: 80px;
    height: 35px;
    border-radius: 4px;
    border: none;
    outline: none;
    background:  rgba(255, 0, 0, 0.727);
    color: rgb(255, 255, 255);
    transition-property: background-color;
    transition-duration: 0.90s;
}

button:hover{
    background-color: rgb(4, 4, 4);
}