body{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(7, 0, 0), #b80808);
    position: relative;
    background-size: 400%, 400%;
}

#container{
    position: absolute;
    height: 450px;
    width: 700px;
    top: 50%;
    left: 50%;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
}

#meuVideo{
    border-radius: 4px;
    height: 100%;
    outline: none;
    transition-property: filter;
    transition-duration: 0.90s;
    box-shadow: 15px 10px 9px black;
}

#botoes{
    position: absolute;
    margin-left: 200px;
    bottom: 20px;
    position: absolute;
}

i{  
    opacity: 70%;
    padding: 23px;
    color: white;
    text-shadow: 3px 5px 2px black;
    outline: none;
}

i:active{
    color: #b80808;
}

#progresso{
    border: 2px solid rgb(255, 0, 34);
    background-color: #ffffff;
    height: 10px;
    width: 205px;
    margin-top: -90px;
    margin-left: 280px;
}

#barraProgresso{
    background-color:#f50303;
    height: 10px;
    width: 0px;
}